<h1> Welcome! </h1>
This is Eric Tobin&#39;s first ECT 436 homework assignment (Assignment #1).<br/>
<br/>
<hr/>
<h4> This Assignment is an index of my ECT 436 homework assignments: </h4>
<u>Assignment #1</u><br/>
Please create a simple HTML page that contains your personal information and
links
to your future assignments.<br/>
<br/>
<a href="http://eatobin.com/hw2/hw2.html">Assignment #2<br/>
</a>Develop a simple PHP Web site that allows a user to enter some information
in
a HTML form and responds to the user’s input.<br/>
<br/>
<a href="http://eatobin.com/hw3/hw3.php">Assignment #3<br/>
</a>Develop a PHP page that uses at least two of the following control
structures:
if-else, switch, for loop, and while loop.<br/>
<br/>
<a href="http://eatobin.com/hw4/hw4.php">Assignment #4<br/>
</a>Develop PHP pages that take input from user and return records from database
that match user input.<br/>
<br/>
<a href="http://eatobin.com/hw5/hw5.php">Assignment #5<br/>
</a>Develop PHP pages that pass information using QueryStrings.<br/>
<br/>
<a href="http://eatobin.com/hw6/placeholder.html">Assignment #6<br/>
</a>Develop a simple application on Facebook that renders some promotion
information
about a product. Please provide the direct link on Facebook to your application.
<br/>
<br/>
<a href="http://ectweb.cs.depaul.edu/etobin2/final/nevermelt.php">Final
  Assignment<br/>
</a>Deliverables For Final Project:<br/>
<br/>
1) URL of your site<br/>
2) Brief description of the value of your Web site<br/>
3) Functions you plan to implement<br/>
4) Describe the information structure using a site map (i.e. how many web pages
you plan to write? How are they linked together?)<br/>
5) Layout design<br/>
6) Plan of work (i.e. when and how to gather information? When and how to write
each page?)<br/>
<br/>
<hr/>
<br/>
And... here's some personal information about me:
<ul>
  <li>I'm five feet seven inches tall.</li>
  <li>I've got brown hair and eyes.</li>
  <li>My favorite ice cream flavor is coffee.</li>
</ul>
<h4> Thanks for visiting... </h4>
