<html>
<head>
  <title>Eric Tobin - ECT 436 - Assignment #5</title>
</head>
<body>
<?php
			$pid = $_GET['pid'];

			// settings for local server

/*			$host = "localhost";
			$user = "root";
			$passwd = "adv26479";
			$dbname = "csc452";*/

			// settings for production server

			$host = "csc452.db.7578476.hostedresource.com";
			$user = "csc452";
			$passwd = "Adv26479!1956";
			$dbname = "csc452";

			// rest of program

			$conn = mysqli_connect($host,$user,$passwd,$dbname) or die ("Couldn't connect to csc452");
			$selectCommand = "SELECT pname, descrip, flavor, scoops, price, stock, image FROM nevermelt WHERE pid = $pid;";
			$result = mysqli_query($conn, $selectCommand) or die ("Couldn't execute query.");

			$row = mysqli_fetch_assoc($result);
			extract($row);
			$priceF = number_format("$price", 2);

			echo "<h3>Here are the details for your product:</h3>";
echo "Product Name: $pname<br />";
echo "Description: $descrip<br />";
echo "Flavor: $flavor<br />";
echo "Number of Scoops: $scoops<br />";
echo "Price: $$priceF<br />";
echo "Stock on Hand: $stock<br />";
echo "<br />";
echo "Image:<br>";
echo "<br />";
echo "<img src='$image' alt='' width='70' height='70' />";

mysqli_close($conn);
?>
</body>
</html>
