<% provide(:title, '4 - 2') %>

<h1>Here's the data I received from the first page:</h1>

<% @my_dept = Department.where({:id => params[:dname_dd]}).first %>
The <strong>field</strong> name is: deptno<br/>
And it's
<strong>value</strong> is: <%= @my_dept.deptno %> (<%= @my_dept.dname %>)<br/>

<h3>First, here's all the employees in the emp table:</h3>

<table border='10'>
  <tr>
    <th>EMPNO</th>
    <th>ENAME</th>
    <th>DEPTNO</th>
  </tr>

  <tr>
    <td>$empno</td>
    <td>$ename</td>
    <td>$deptno</td>
  </tr>
</table>

<h3>Last, here's all the employees in deptno <%= @my_dept.deptno %>:</h3>

<table border='10'>
  <tr>
    <th>EMPNO</th>
    <th>ENAME</th>
    <th>DEPTNO</th>
  </tr>

  <tr>
    <td>$empno</td>
    <td>$ename</td>
    <td>$deptno</td>
  </tr>
</table>

<h3>Bye!</h3>
