<% provide(:title, '4 - 2') %>

<h1>Here's the data I received from the first page:</h1>

The <strong>field</strong> name is: <%= params[:dname_dd] %><br/>
And it's <strong>value</strong> is: $value<br/>


$result = mysqli_query($cxn,$sqlAll) or die ("Couldn't execute query.");

echo "<h3>Here's all the employees in the emp table:</h3>\n";

echo "
<table border='1'>\n";
  echo "
  <tr>\n";
    echo "
    <th>EMPNO</th>
    \n";
    echo "
    <th>ENAME</th>
    \n";
    echo "
    <th>DEPTNO</th>
    \n";
    echo "
  </tr>
  \n";

  while($row = mysqli_fetch_assoc($result))
  {
  extract($row);

  echo "
  <tr>\n";
    echo "
    <td>$empno</td>
    \n";
    echo "
    <td>$ename</td>
    \n";
    echo "
    <td>$deptno</td>
    \n";
    echo "
  </tr>
  \n";
  }

  echo "
</table>
\n";

$result = mysqli_query($cxn,$sql) or die ("Couldn't execute query.");

echo "<h3>Last, here's all the employees in $field $value:</h3>\n";

echo "
<table border='1'>\n";
  echo "
  <tr>\n";
    echo "
    <th>EMPNO</th>
    \n";
    echo "
    <th>ENAME</th>
    \n";
    echo "
    <th>DEPTNO</th>
    \n";
    echo "
  </tr>
  \n";

  while($row = mysqli_fetch_assoc($result))
  {
  extract($row);

  echo "
  <tr>\n";
    echo "
    <td>$empno</td>
    \n";
    echo "
    <td>$ename</td>
    \n";
    echo "
    <td>$deptno</td>
    \n";
    echo "
  </tr>
  \n";
  }

  echo "
</table>
\n";


<h3>Bye!</h3>
